# Production values can be found in 1Password, Backend dev vault, search for "wix-rest-app dotenv file"
# Create your own .dev.development for local development purposes, following the README.md to set it up under ngrok.

# APP_ID can be found in in Wix Developers under Workspace/OAuth
WIX_APP_ID=

# APP_SECRET can be found in Wix Developers under Workspace/OAuth
WIX_APP_SECRET=

# PUBLIC_KEY can be found under Workspace/Webhooks/Public-Key
WIX_PUBLIC_KEY=
